<div class="header">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2 col-sm-3">
                <a href="{{ site.baseurl }}"><img src="{{ site.favicon }}" title="JD Logo" alt="My Logo"></a>
                <a href="{{ site.baseurl }}"><img src="{{ site.author.gavatar }}" title="Avatar" alt="My Avatar"></a>
            </div>
            <div class="col-md-5 col-sm-4">
                <div class="brand">
                    <p>{{ site.author.name }} | {{ site.author.title }}</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-5">
                <ul class="nav nav-pills">
                    <li><a href="" class="">Resume</a></li>
                    <li><a href="" class="">Portfolio</a></li>
                    <!--<li><a href="{{ site.author.resume }}" class="btn btn-dark" target="_blank"><i class="icon-file icon-white"></i>PDF Resume</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
